{% extends "layout.html" %}

{% block title %}
    The multiplication table
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            1
        </th>
        <th>
            2
        </th>
        <th>
            3
        </th>
        <th>
            4
        </th>
        <th>
            5
        </th>
        <th>
            6
        </th>
        <th>
            7
        </th>
        <th>
            8
        </th>
        <th>
            9
        </th>
    </tr>
    </thead>

    <tbody>
        {% for i in range(1,10) %}
        <tr>
            <th>
                {{ i }}
            </th>
            {% for j in range(1,10) %}
            <td> {{ i * j }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
